{% extends "layout.html" %}
{% block content %}
<h1>掲示板投稿フォーム</h1>
<form action="/result" method="post">
    <label for="name">名前</label>
    <select name="name">
        {% for name in names %}
            <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
    </select>
    <p></p>
    <label for="article">投稿</label>
    <input type="text" name="article">
    <button type="submit">送信する</button>
</form>
<p><a href="/past">過去投稿へ</a>
<p><a href="/name_registration">名前登録フォームへ</a>
<p><a href="/">Topページへ</a>

{% endblock %}
