{% extends "layout.html" %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">タスク一覧</h2>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>タスクカテゴリ</th>
                    <th>内容</th>
                </tr>
            </thead>
            <tbody>
                {% for past in pasts %}
                    <tr>
                        <td>{{ past.name }}</td>
                        <td>{{ past.article }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- 戻るボタン -->
        <div class="text-center mt-4">
            <a href="javascript:history.back()" class="btn btn-primary">戻る</a>
        </div>
    </div>
{% endblock %}
